$red-orange: #f05f2c;
$blue: #3b86ff;
$dark-orange: #e9bd2e;
$dark-blue: #43425d;
$yellow: #e6da5d;
$green: #66c75b;

$white: #fff;
$white-shade: #f3f3f3;
$grey-light-1: #c1c1c1;
$gray-light-2: #989898;
$gray-dark: #565656;
$black: #000;

//typography

$body-font: "Open Sans", sans-serif;
